#homeP{
    background-color: rgb(141, 141, 141);
    color: rgb(255, 255, 255);
}

.col{
    padding-top: 30px;
    padding-bottom: 30px;
}

#ret{
    padding-top: 150px;
    padding-bottom: 150px;
}