#homeP{
    background-color: rgb(141, 141, 141);
    color: rgb(255, 255, 255);
}

.col{
    padding-top: 30px;
    padding-bottom: 30px;
}

#ret{
    padding-top: 50px;
    padding-bottom: 50px;
}

.tywr{
    margin-top: 150px;
    font-size: 64px;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 2px solid;
    width: 41.5%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.5s steps(12), /* number of letters */
        cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0;}
}

@keyframes cursor {
    50% { border-color: transparent;}
}

#homeP{
    background-image: url(../img/banner2.png);
    height: 500px;
}

#title{
    font-family: monospace;
    font-size: 48px;
    letter-spacing: 5px;
}
