#homeP{
    background-color: rgb(141, 141, 141);
    color: rgb(255, 255, 255);
}

.col{
    padding-top: 30px;
    padding-bottom: 30px;
}

#ret{
    padding-top: 150px;
    padding-bottom: 150px;
}

.tywr{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(13), 
        cursor .4s step-end infinite alternate;
}
